{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Pitch- ME </title>
        {% endif %}
        {% block styles%}
            {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
    </head>
    <header>
       <!--Navbar-->  
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}  
    </header>
    <body>
        {% block content %}
        {% block landing %}
        {% include 'landing.html'%}
        {%endblock%}
        <h2 class="text-center">Some Examples</h2>
        <hr>
        <div class="card mb-5">
            <div class="card-body">
                <div class="col-sm-4">
                    <div class="card text-center">
                        <!-- <div class="card-header">Featured</div> -->
                        <div class="card-body">
                          <h5 class="card-title">~ Pick-up Line ~</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer text-muted">Uploaded By:<strong>&nbsp;Williams Olang</strong></div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <!-- <div class="card-header">New-pitch</div> -->
                        <div class="card-body">
                          <h5 class="card-title">~ Innovation ~</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer text-muted">Uploaded By:<strong>&nbsp;Jonathan Owilli</strong></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <!-- <div class="card-header">Featured</div> -->
                        <div class="card-body">
                          <h5 class="card-title">~ Sales-Pitch ~</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer text-muted">Uploaded By:<strong>&nbsp;Guess Who</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container user-pitch">
            <h2 class="text-center">Some of our users' pitches</h2>
            <hr>
            <!-- <h3 class="text-center">Please<a href="">login</a>to access some great features</h3> -->
            <div class="row">
                <div class="col-sm-6">
                    {% for pitch in pitches %}
                    <div class="card text-center">
                        <div class="card-header">{{ users.username }}</div>
                        <div class="card-body">
                          <h3 class="card-title">~ {{ pitch.category }} ~</h3>
                          <p class="card-text">{{ pitch.context }}</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <a class =" btn btn-sm btn-success" href="{{ url_for('main.new_comment', pitch_id = pitch.id)}}">Comment</a>
                            </div>
                            <div class="col-sm-4">
                                <a class =" btn btn-sm btn-info" href="{{url_for('main.like',id = pitch.id)}}">Upvotes:{{pitch.upvote.count()}}</a>
                            </div>
                            <div class="col-sm-4">
                                <a class =" btn btn-sm btn-danger" href="{{url_for('main.dislike',id = pitch.id)}}">Downvotes:{{pitch.downvote.count()}}</a>
                            </div>
                        </div>   
                        <div class="card-footer text-muted">Uploaded By:{{ users.username }}</strong></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer>
            <!-- FOOTER BLOCK -->
            {% block footer %}
            {% include 'footer.html' %}
            {% endblock %}
        </footer>
    </body>

    {%endblock%}
</html>