<div class="container-fluid">
    <h1 class="display-3 text-center">Welcome to <strong>PITCH - ME</strong></h1>
    <hr>
    <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?<br>Well, welcome to <strong>PITCH-ME</strong>, &nbsp; where you will be creating pitches for users to display, vote on pitches and leave comments on pitches depending on categories</p>
    <div class="container">
        <img src="{{url_for('static', filename='assets/handshake.jpg')}}" class="img-thumbnail bg-primary rounded img-fluid"/>
    </div>
</div>